@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
/* 
* {
  padding: 0;
  margin: 0;
} */

body {
  background-color: #e7e6e6;
  color: #0f141e;
  font: normal 16px "Roboto", sans-serif;
}

.info a {
  color: black;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}

.info a:visited {
  color: rgb(163, 170, 248);
}

.card a {
  color: rgb(84, 83, 83);
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card a:visited {
  color: #86898f;
}

.my-photo {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  margin-bottom: 20px;
  display: flex;
}
@media (max-width: 768px) {
  .info {
    display: block;
    text-align: center;
    padding: 20px;
  }
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.info p {
  color: #86898f;
  margin: 0;
}

/* Box Model */

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}
.social {
  padding: 15px;
}

.bg-yellow {
  background: #c8c4c974;
}
.bg-green {
  background: #c8c4c974;
}
.bg-red {
  background: #c8c4c974;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.Project {
  margin-left: 5px;
}

.experience {
  color: #86898f;
}

.contact h2 {
  text-align: center;
}

.cont-typing label {
  display: block;
  color: #86898f;
  font-size: 14px;
}

.cont-typing input,
.cont-typing textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .cont-typing {
  width: 50%;
  margin-right: 20px;
}

.row > .cont-typing:last-child {
  margin-right: 20px;
}

.btn {
  background: #242424;
  padding: 14px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 14px;
}

.btn:hover {
  opacity: 0.9;
}
